Tema 4/Teoria/Parte 2/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence> <!-- all / choice-->
        <xs:element name="nom" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="edat" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="data_naixement" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!-- Elementos simples:  -->
<!-- Si solo tiene texto -->

<!-- Elementos complejos: -->
<!-- si tiene elementos adentro -->
<!-- Si tiene atributos -->
<!-- Si tiene ambos -->